:root {
  --gradient-primary: linear-gradient(to right, #4e73df, #36b9cc);
}

/* Header */
.brand-header {
  text-align: center;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brand-logo {
  width: auto;
  height: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem;
  /* border-color: linear-gradient(135deg, var(--primary) 0%, var(--accent) 100%); */
}

.brand-logo img {
  height: 20vw;
  width: 20vw;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(78, 115, 223, 0.3);
  border: 4px solid white;
}

.brand-header h1 {
  font-weight: 700;
  color: var(--dark);
  margin-bottom: 0.25rem;
  letter-spacing: 1px;
}

.brand-header p {
  color: #6c757d;
  font-size: 1.1rem;
  font-weight: bold;
}

/* Main container */

.main-content-container {
    height: 100vh;
}

/* cards/ posts */
    .post-card {
        max-width: 600px;
        margin: 2rem auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .post-card .card-header {
        background-color: #f8f9fa;
        font-weight: bold;
    }

    .post-card .card-img-top {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
        height: 250px;
    }

    .post-meta {
        font-size: 0.9rem;
        color: #6c757d;
    }

    .post-footer {
        background-color: #f1f1f1;
        text-align: right;
    }

/* Floating Button */
.floating-user-nav-btn {
  top: 100px;
  right: 30px;
}

.floating-chat-nav-btn {
  bottom: 50px;
  right: 30px;
}