:root {
    --primary: #4e73df;
    --secondary: #1cc88a;
    --accent: #36b9cc;
    --dark: #2e4374;
    --light: #f8f9fc;
}

body {
    background: linear-gradient(135deg, #e0e7ff 0%, #d1e0fd 100%);
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* Navbar */

.custom-navbar {
  background: linear-gradient(135deg, var(--primary) 0%, var(--accent) 100%);
  padding: 0.75rem 1.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 2rem;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.navbar-nav .nav-link {
  font-weight: 500;
  margin-left: 1rem;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  /* color: var(--secondary) !important; */
  color: black !important;
}

.btn-login {
  /* background: var(--secondary); */
  /* color: white; */
  /* color: black; */
  /* font-weight: 600; */
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.btn-login:hover {
  background: #000000;
  color: white;
  transform: translateY(-1px);
  box-shadow: 0 6px 15px rgba(67, 67, 67, 0.3);
}

.btn-edit-profile {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;

}

.btn-edit-profile:hover {
  background: #000000;
  color: white;
  transform: translateY(-1px);
  box-shadow: 0 6px 15px rgba(67, 67, 67, 0.3);
}

/* Header */
.brand-header {
  text-align: center;
  margin-bottom: 3rem;
}

.brand-logo {
  width: auto;
  height: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem;
  /* border-color: linear-gradient(135deg, var(--primary) 0%, var(--accent) 100%); */
}

.brand-logo img {
  height: 20vw;
  width: 20vw;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(78, 115, 223, 0.3);
  border: 4px solid white;
}

.brand-header h1 {
  font-weight: 700;
  color: var(--dark);
  margin-bottom: 0.25rem;
  letter-spacing: 1px;
}

.brand-header p {
  color: #6c757d;
  font-size: 1.1rem;
  font-weight: bold;
}

